/*Vera*/
body{
    background-color: white;
    margin: 0px;
}

h2{
    font-family: "Bebas Neue";
    color: white;
    text-align: center;
    font-size: 10px;
    background-color: rgba(0,0,0,1);
    margin: 0px;

}

h1{
    font-family: "Bebas Neue";
    color: black;
    text-align: center;
    font-size: 100px;
    line-height: 0px;
    background-color: rgba(255,255,255,0.9);
    padding: 50px 0;
    margin: 0px;
}

p{
    font-family: "Abel";
}

/*
Sofi*/







/*Agus
=======*/
li{
    list-style: none;
    text-decoration: none;
    color: black;
    display: block;
        font-family: "Abel", sans-serif;
        font-weight: 400;
        font-style: normal;
    margin-top: 5%;
}

.lupa_perfil_carrito{
    list-style: none;
    text-decoration: none;
    float: right;
<<<<<<< HEAD
    margin-right: 35px;
    
}

.productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
=======
    margin-right: 2%;
}
>>>>>>> 6dd7f88b9471d3382952c4519c9efd83f54aee0f
