Vera
body{
    background-color: white;
    margin: 0px;
}

h2{
    font-family: "Bebas Neue";
    color: white;
    text-align: center;
    font-size: 10px;
    background-color: rgba(0,0,0,1);
}

h1{
    font-family: "Bebas Neue";
    color: black;
    text-align: center;
    font-size: 100px;
    line-height: 0px;
    background-color: rgba(255,255,255,0.9);
    padding: 50px;
    width: 100%;
}

p{
    font-family: "Abel";
}

<<<<<<< HEAD

Sofi







Agus
=======
li{
    list-style: none;
    text-decoration: none;
    color: black;
    display: block;
}
>>>>>>> 5cbb0e0d4850a6112184df7e722f657cce0e9398
