/*Vera*/
body{
    background-color: white;
    margin: 0px;
}

header{
    font-family: "Bebas Neue";
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0,0,0,1);
    margin: 0px;

}

h1{
    font-family: "Bebas Neue";
    color: black;
    text-align: center;
    font-size: 100px;
    line-height: 0px;
    background-color: rgba(255,255,255,0.9);
    padding: 50px 0;
    margin: 0px;
}

p{
    font-family: "Abel";
}

.foto-producto{
    width: 20px;
    height: 40px;
}

.foto-ancho{
    width: 100px;
    height: 50px;
}
/*
Sofi*/

.infotitulo {
    font-family: "Roboto";
    font-size: 80%;
}

.logo {
    background-color: white;
}




/*Agus
=======*/

li{
    list-style: none;
    text-decoration: none;
    color: black;
    display: block;
        font-family: "Abel", sans-serif;
        font-weight: 400;
        font-style: normal;
    margin-top: 5%;
}

.lupa_perfil_carrito{
    padding: 0%;
    width: 35%;
}

.iconos{
    display: flex;
    flex-direction: row;
    float: right;   
    position: absolute;
    top: 2%;
    right: 1%;
    left: auto;
}

.secciones{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;


}

.articulos{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.productos{
    padding: 0.5%;
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-decoration: none;
    text-align: left;
}
.productos img{
    width: 100%;
    height: auto;
    margin-bottom: 0%;
}


.nombre, .descripcion {
    margin: 0px 0;
}

.descripcion, .precio {
    margin: 5x 0;
    
}
.descripcion{
    color: gray;
    font-size: 14px;
}
.comprar{
    float: right;
    position: absolute;
    top: 5%;
    right: 1%;
    left: auto;
}




.articulo {
    display: block;
  }  
  input[type="radio"] {
    display: none;
  }

input[type="radio"]:checked ~ .articulos .articulo {
    display: none;
  }
  
#filtro-todos:checked ~ .articulos .articulo {
    display: block;
  }
  
#filtro-ropa:checked ~ .articulos .mujer {
    display: block;
  }
  
#filtro-accesorios:checked ~ .articulos .accesorios {
    display: block;
  }


a{
    text-decoration: none;
    color: black;
}



















footer{
    font-family: "Bebas Neue";
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0,0,0,1);
    margin: 0%;
}

